body {background-color: #B0BEC5;}

  hr {

      border-style: dotted none none;
      border-color: grey;
      border-top-width: 10px;
      width: 10%;

  }

  h1 {color: #ff4646;
  font-family: molot;}
  h3 {color: #ff4646;}

  .circular {
    border-radius: 100%;
  }
